.wrapper
  .header
    .header__left-box
    .header__center-box
      inherit
    .header__right-box
      i
  .contents
  .footer
    .footer__left-box
    .footer__center-box
    .footer__right-box